<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Voting Page</title>
	<link rel="stylesheet" type="text/css" href="/css/votingpage.css">
</head>
<body>
	<h4>your nid is <%=nid%></h4>
	<section class="candidates">
		<h2>Presidential Candidates</h2>
		<form action="/vote/<%= token %>" method="POST" enctype="multipart/form-data">
			<div class="all-candidates">	
				<% for(var i=0; i< candidates.length; i++) { %>
				<div class="candidate">
					<img src="/<%= candidates[i].image %>">
					<div class="candidate-info">
						<h4 class="candidate-name"><%= candidates[i].name %></h4>
						<p class="candidate-party"><%= candidates[i].party %></p>
						<label>
							<input type="radio" name="president" value="<%= candidates[i].name %>">
							Vote
						</label>
					</div>
				</div>
				<% } %>
			</div>
			<h2>Vice Presidential Candidates</h2>
			<div class="all-candidates">
				<% for(var i=0; i< viceCandidates.length; i++) { %>
				<div class="candidate">
					<img src="/<%= viceCandidates[i].image %>">
					<div class="candidate-info">
						<h4 class="candidate-name"><%= viceCandidates[i].name %></h4>
						<p class="candidate-party"><%= viceCandidates[i].party %></p>
						<label>
							<input type="radio" name="vicepresident" value="<%= viceCandidates[i].name %>">
							Vote
						</label>
					</div>
				</div>
				<% } %>
			</div>
			
			<h2>Mayor Candidates</h2>
			<div class="all-candidates">
				<% for(var i=0; i< mayorCandidates.length; i++) { %>
				<div class="candidate">
					<img src="/<%= mayorCandidates[i].image %>">
					<div class="candidate-info">
						<h4 class="candidate-name"><%= mayorCandidates[i].name %></h4>
						<p class="candidate-party"><%= mayorCandidates[i].party %></p>
						<label>
							<input type="radio" name="mayor" value="<%= mayorCandidates[i].name %>">
							Vote
						</label>
					</div>
				</div>
				<% } %>
			</div>
			
			<h2>Member Candidates</h2>
			<div class="all-candidates">
				<% for(var i=0; i< memberCandidates.length; i++) { %>
				<div class="candidate">
					<img src="/<%= memberCandidates[i].image %>">
					<div class="candidate-info">
						<h4 class="candidate-name"><%= memberCandidates[i].name %></h4>
						<p class="candidate-party"><%= memberCandidates[i].party %></p>
						<label>
							<input type="radio" name="member" value="<%= memberCandidates[i].name %>">
							Vote
						</label>
					</div>
				</div>
				<% } %>
			</div>
			<label><input type="hidden" name="nid" value="<%= nid %>"></label>
			<input type="submit" value="Submit Vote">
		</form>
	</section>
	
	<h1>Time Remaining:--> </h1>

    <div id="timer">30 seconds left</div> 
	<script>
		// Set the time for the timer in seconds
	 var timeLeft = 300;
		
	 // Create a timer function that counts down from the specified time
	 function startTimer() {
	   // Calculate the number of minutes and seconds left
	   var minutes = Math.floor(timeLeft / 60);
	   var seconds = timeLeft % 60;
	 
	   // Add leading zeros to the minutes and seconds if necessary
	   minutes = (minutes < 10 ? "0" : "") + minutes;
	   seconds = (seconds < 10 ? "0" : "") + seconds;
	 
	   // Update the timer element with the new time left
	   document.getElementById("timer").innerHTML = minutes + ":" + seconds +" " +"seconds left";
	 
	   // If the timer has reached 0, close the page
	   if (timeLeft === 0) {
		 window.close();
	   }
	 
	   // Decrement the time left by 1 second
	   timeLeft--;
	 
	   // Wait 1 second and then call the function again
	   setTimeout(startTimer, 1000);
	 }
	 
	 // Call the startTimer function to begin the countdown
	 startTimer();
	 
		 </script>
</body>
</html>
